<div (click)="rollDice()" class="cube">
  <div class="face un">
    <div class="point"></div>
  </div>
  <div class="face deux">
    <div class="point"></div>
    <div class="point"></div>
  </div>
  <div class="face cinq">
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
  </div>
  <div class="face six">
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
  </div>
  <div class="face trois">
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
  </div>
  <div class="face quatre">
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
  </div>
</div>
