<section class="vh-100 d-flex justify-content-center align-items-center text-bg-dark">

  <div class="d-flex flex-column justify-content-center align-items-center text-center">
    <main class="px-3">
      <h1>Jeu de l'oie</h1>
      <button class="btn btn-primary m-3" type="button">
        <a class="text-white text-decoration-none" routerLink="/game">Rejoindre une partie</a>
      </button>
    </main>

    <footer class="mt-auto text-white-50">
      <p class="text-center">Jeu de l'oie</p>
    </footer>
  </div>
</section>
