<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100 mt-5">
      <h1 class="text-center m-5">Jeu de l'oie</h1>
      <div class="col-md-9 col-lg-6 col-xl-5 d-flex justify-content-center align-items-center">
        <img
          alt="Logo"
          class="img-fluid"
          src="assets/logo.png"
          width="70%">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
          <main class="px-3">
            <a class="text-white text-decoration-none btn btn-primary m-3" routerLink="/game">Rejoindre une partie</a>
          </main>
        </div>
      </div>
    </div>
  </div>
</section>
